<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'iherbItems/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iherbItems/css/style.css' %}" type="text/css">

</head>


<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Recommended Section Begin -->
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>iHerb</h2>
            <p style="margin-top:30px">Trusted brands. Healthy rewards.</p>
        </div>
        <div class="row justify-content-center">
            <form >
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form2Example1" class="form-control"/>
                        <label class="form-label" for="form2Example1">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example2" class="form-control"/>
                        <label class="form-label" for="form2Example2">Password</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>


            <div class="categories__slider owl-carousel">
            </div>

        </div>
    </div>
</section>
<!-- Recommended Section End -->


<!-- Js Plugins -->
<script src="{% static 'iherbItems/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'iherbItems/js/bootstrap.min.js' %}"></script>
<script src="{% static 'iherbItems/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'iherbItems/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'iherbItems/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'iherbItems/js/mixitup.min.js' %}"></script>
<script src="{% static 'iherbItems/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'iherbItems/js/main.js' %}"></script>


</body>

</html>